*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dairy: #fcfcfc;
  --white: #ffffff;
  --grey: #2e2f42;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --light-slat: #8e8f99;
  --slate: #434455;
  --green: #31d0aa;
  --navyblue: #2e2f42;
  --ocean: #404bbf;
  --iris: #4d5ae5;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
  color: var(--slate);
}

/*Global*/

.main-title {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.title-two {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.title-three {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.link {
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/*Main container*/

.container {
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1158px;
}

/* Hiding elements */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Header section*/

.top-line {
  background: var(--white);
  border-bottom: 1px solid var(--cornflower);
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
  padding: 24px 0;
}

.logo-second {
  color: var(--navyblue);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-nav-item {
  display: block;
  padding: 24px 0;
  color: var(--navyblue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-nav-item:hover,
.header-nav-item:focus {
  color: var(--ocean);
}

.header-address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-item {
  display: block;
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.contacts:hover,
.contacts:focus {
  color: var(--ocean);
}

/*Hero section*/

.main-section {
  background-color: var(--grey);
  padding: 188px 0;
}

.main-button {
  color: var(--white);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--iris);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.main-button:hover,
.main-button:focus {
  background-color: var(--ocean);
}

/*Feature section*/

.feature {
  padding: 120px 0;
}

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-item {
  width: calc((100% - 3 * 24px) / 4);
}

/*What are we doing section*/

.wawd {
  padding-bottom: 120px;
}

.wawd-list {
  display: flex;
  gap: 24px;
}

.wawd-item {
  width: calc((100% - 3 * 16px) / 3);
}

/*Team section*/

.team {
  background: var(--cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-desc {
  padding: 32px 0;
  text-align: center;
}

/* Our works section*/

.work-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filters-button {
  color: var(--iris);
  background: var(--cloud);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  padding: 12px 24px;
}

.filters-button:hover,
.filters-button:focus {
  border: 1px solid transparent;
  background: var(--ocean);
  color: var(--white);
}

.filters {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.work-item {
  width: calc((100% - 48px) / 3);
}

.work-desc {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

/* FOOTER*/

.footer {
  background: var(--navyblue);
  padding: 100px 0;
}

.logo-footer {
  display: inline-block;
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.logo-second-footer {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
}
